body {
    background-image: url("double-bubble-outline/double-bubble-outline.png")
}
html, body, button, input, #fileInput {
    font-family: 'Open Sans', 'Lato', Helvetica, Arial, sans-serif;
}
table {
    width: 30%;
}
table, tr, th {
    border: 1px solid black;
}
tr, th {
    width: 25%;
}
textarea {
    width: 40vw;
    height: 25vh;
}
.halfWidthEach {/* Splits div in half in terms of screen width.*/
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.pad {
    padding: 2em;
}
.adjacent {
    display: inline-block;
    float: left;
}
.smallerFontSize {
    font-size: 0.80em;
}
#menu {
    background-color: #E8E8E8;
}
.left {
    float: left;
}
.cytoscapeChart {
    width: 40vw;
    height: 75vh;
    display: block;
}
.blue {
    background-color: #e8f4f8;
}
.pink {
    background-color: #FFE6EE;
}
.antiqueWhite {
    background-color: #FAEBD7;
}