table {
    width: 30%;
}
table, tr, th {
    border: 1px solid black;
}
tr, th {
    width: 25%;
}
textarea {
    width: 40vw;
    height: 25vh;
}
body {
    font-family: Helvetica, Arial, sans-serif;
}
.halfWidthEach {/* Splits div in half in terms of screen width.*/
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.left {
    float: left;
}
.cytoscapeChart {
    width: 75vw;
    height: 75vh;
    display: block;
}